<center><h1>About the Owner</h1><center>
	
<p>This is all about me...Mi nombre es <%= @Home.name %></p>

<p>Today is <%= Date.today %>.  Have a great day!</p>

<% t = Time.new %>

<p>It is <%= t.strftime("%I:%M%p") %>. </p>

<p>My birthdate is <%= @Home.birthdate %> and I live at <%= @Home.address %></p>