<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel-body">
		<p>by <%= @blog_post.author %></p>
		<p><%= @blog_post.blog_entry %></p>
	</div>
</div>
<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
	</div>
	<% @blog_post.comments.each do |comment| %>
		<div class="panel-body">
			<p><strong><%= comment.author %></strong> said: </p>
			<p><%= comment.comment_entry %></p>
		</div>
	<% end %>
</div>
		

<p>
	<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
	<%= link_to 'Back', blog_posts_path %>
</p>


<!--<p>
  <strong>Author:</strong>
  <%= @blog_post.author %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @blog_post.blog_entry %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>

<%= render 'comments/form' %> -->
