<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %> -->

<h1><%= @destination.city %>, <%= @destination.country %></h1>

<% if @destination.avatar_file_name != nil %>
   <%= image_tag destination.avatar.url, class: "img-responsive" %>
<% end %>

<h2>Population: <%= @destination.population %></h2>

<p> <%= @destination.description %></p>

<div class="btn-group">
  <%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-default" %> 
  <%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>