<style>
  body {
    background: <%= @color %>;
  }
</style>

<h1>About Me</h1>
<p>Lots of interesting stuff for the internets.</p>

<p>My favorite color is <%= @color %>.</p>

<% if @size == 12 %>
  <p>My shoe size is <%= @size %>. I have big feet.</p>
<% elsif @size >= 13%>
	<p>Size <%= @size %>? Waka Flocka says stay home. Waka.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>

<%= link_to "Blue", {controller: 'welcome', action: 'about', color: 'blue'}, class: "btn btn-primary" %>
<%= link_to "Chartreuse", {controller: 'welcome', action: 'about', color: 'chartreuse'}, class: "btn btn-success", id: 'chartreuse_btn' %>
